.text {
    font-family: 'Times New Roman', Times, serif;
    padding-bottom:1em;
    text-shadow: 0px 0px 4px #FFFFFF, 0px 0px 8px #FFFFFF;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    padding:1em;
    border: solid #e0e0e0 2px;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.btn .btnicon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    display: inline-block;
    -webkit-filter: drop-shadow(0px 0px 4px #041C2F);
    filter: drop-shadow(0px 0px 4px #051D2F, 0px 0px 8px #051D2F);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.btn .btnbreadcrump {
    width: 10px;
    display: inline-block;
}

.btn .btntext {
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 4px #051D2F, 0px 0px 8px #051D2F;
    line-height: 32px;
    vertical-align: middle;
    display: inline-block;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.breadcrump {
    width: 10px;
    display: inline-block;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

.iconstate {
    background-image: url(state.svg);
}

.continue {
    min-width: 20%;
    text-align: center;
}

label {
    font-family: 'Times New Roman', Times, serif;
    background:#aaa;
    color:#fff;
    border-radius:8px;
    padding:1em;
    cursor:pointer;
    display: inline-block;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

label:hover {
    background:#ccc;   
}

/* Popup container - can be anything you want */
.popup {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popupcontainer {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    background-color: rgb(57, 57, 57); /* Fallback color */
    background-color: rgba(57, 57, 57, 0.4); /* Black w/ opacity */
    
    visibility: hidden;
}

.popup .popupbox {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 160px;
    background-color: #323232;
    color: #fff;
    border-radius: 6px;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}